﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">User List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Users" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New User
            </a>
        </div>
    </div>
    <br /><br />

    <table id="tblData" class="table table-bPostsed table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>StreetAddress</th>
                <th>City</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section scripts{
    <script src="/js/users.js"></script>
}


