﻿@model List<Post>
@{
    ViewData["Title"] = "Home";
    var mostViewPost = _unitOfWork.PostRepository.GetMostViewedPost(5);
    var lstTag = _unitOfWork.TagRepository.GetAll();
    var latestPost = _unitOfWork.PostRepository.GetLatestPost(5);
    var lstCategory = _unitOfWork.CategoryRepository.GetAll();
}

@section Banner{
    <div class="main-banner header-text">
        <div class="container-fluid">
            <div class="owl-banner owl-carousel">
                @foreach (var item in latestPost)
                {
                    <div class="item">
                        <img src="/custom/client/img/@item.Image" alt="">
                        <div class="item-content">
                            <div class="main-content">
                                <div class="meta-category">
                                    <span>@_unitOfWork.TagRepository.GetTagsByPost(item.Id).FirstOrDefault()?.Name</span>
                                </div>
                                <a href="/Post/@item.PostedOn.Value.Year/@item.PostedOn.Value.Month.ToString("00")/@item.UrlSlug"><h4>@item.Title</h4></a>
                                <ul class="post-info">
                                    <li><a href="#">Admin</a></li>
                                    <li><a href="#">@item.PostedOn.Value.ToString("MMM") @item.PostedOn.Value.Day, @item.PostedOn.Value.Year</a></li>
                                    @if (item.Comments != null)
                                    {
                                        <li><a href="#">@item.Comments.Count Comments</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="#">0 Comments</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
<div class="col-lg-8">
    <div class="all-blog-posts">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-12">
                    <div class="blog-post">
                        <div class="blog-thumb">
                            <img src="/custom/client/img/@item.Image" alt="">
                        </div>
                        <div class="down-content">
                            <span>@_unitOfWork.TagRepository.GetTagsByPost(item.Id).FirstOrDefault()?.Name</span>
                            <a href="/Post/@item.PostedOn.Value.Year/@item.PostedOn.Value.Month.ToString("00")/@item.UrlSlug"><h4>@item.Title</h4></a>
                            <ul class="post-info">
                                <li><a href="#">Admin</a></li>
                                <li><a href="#">@item.PostedOn.Value.ToString("MMM") @item.PostedOn.Value.Day, @item.PostedOn.Value.Year</a></li>
                                @if (item.Comments != null)
                                {
                                    <li><a href="#">@item.Comments.Count Comments</a></li>
                                }
                                else
                                {
                                    <li><a href="#">0 Comments</a></li>
                                }
                            </ul>
                            <p>@item.ShortDescription</p>
                            <div class="post-options">
                                <div class="row">
                                    <div class="col-6">
                                        <ul class="post-tags">
                                            <li><i class="fa fa-tags"></i></li>
                                            @foreach (var tag in @_unitOfWork.TagRepository.GetTagsByPost(item.Id))
                                            {
                                                <li><a href="/Post/@item.UrlSlug">@tag.Name</a> </li>
                                            }
                                        </ul>
                                    </div>
                                    <div class="col-6">
                                        <ul class="post-share">
                                            <li><i class="fa fa-share-alt"></i></li>
                                            <li><a href="#">Facebook</a>,</li>
                                            <li><a href="#"> Twitter</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div class="col-lg-12">
                <div class="main-button">
                    <a href="blog.html">View All Posts</a>
                </div>
            </div>
        </div>
    </div>

</div>

@section Sidebar{
    <div class="col-lg-4">
        <div class="sidebar">
            <div class="row">
                <div class="col-lg-12">
                    <div class="sidebar-item search">
                        <form id="search_form" name="gs" method="GET" action="#">
                            <input type="text" name="q" class="searchText" placeholder="type to search..." autocomplete="on">
                        </form>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="sidebar-item recent-posts">
                        <div class="sidebar-heading">
                            <h2>Top 5 most view post</h2>
                        </div>
                        <div class="content">
                            <partial name="_ListPosts" model=mostViewPost />
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="sidebar-item tags">
                        <div class="sidebar-heading">
                            <h2>Category</h2>
                        </div>
                        <div class="content">
                            <ul>
                                @foreach (var item in lstCategory)
                                {
                                    <li><a href="/Customer/Post/GetPostByCategory?categoryName=@item.Name">@item.Name</a></li>
                                }
                            </ul>

                        </div>
                    </div>

                    <div class="sidebar-item tags">
                        <div class="sidebar-heading">
                            <h2>Tag Clouds</h2>
                        </div>
                        <div class="content">
                            <ul>
                                @foreach (var item in lstTag)
                                {
                                    <li><a href="/Customer/Post/GetPostByTag?tagName=@item.Name">@item.Name</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}