﻿@model Post
@{
    ViewData["Title"] = "Details post";
    var mostViewPost = _unitOfWork.PostRepository.GetMostViewedPost(5);
    var lstTag = _unitOfWork.TagRepository.GetAll();
    var lstCategory = _unitOfWork.CategoryRepository.GetAll();
}
@section Banner{
    <div class="heading-page header-text">
        <section class="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-content">
                            <h4>@_unitOfWork.TagRepository.GetTagsByPost(Model.Id).FirstOrDefault()?.Name</h4>
                            <h2>@Model.Title</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}
<div class="col-lg-8">
    <div class="all-blog-posts">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-post">
                    <div class="blog-thumb">
                        <img src="/custom/client/img/@Model.Image" alt="">
                    </div>
                    <div class="down-content">
                        <span>@_unitOfWork.TagRepository.GetTagsByPost(Model.Id).FirstOrDefault()?.Name</span>
                        <a href="/Post/@Model.PostedOn.Value.Year/@Model.PostedOn.Value.Month.ToString("00")/@Model.UrlSlug"><h4>@Model.Title</h4></a>
                        <ul class="post-info">
                            <li><a href="#">Admin</a></li>
                            <li><a href="#">@Model.PostedOn.Value.ToString("MMM") @Model.PostedOn.Value.Day, @Model.PostedOn.Value.Year</a></li>
                            @if (Model.Comments != null)
                            {
                                <li><a href="#">@Model.Comments.Count Comments</a></li>
                            }
                            else
                            {
                                <li><a href="#">0 Comments</a></li>
                            }
                        </ul>
                        <p>
                            @Model.PostContent
                        </p>
                        <div class="post-options">
                            <div class="row">
                                <div class="col-6">
                                    <ul class="post-tags">
                                        <li><i class="fa fa-tags"></i></li>
                                        @foreach (var tag in _unitOfWork.TagRepository.GetTagsByPost(Model.Id))
                                        {
                                            <li><a href="#">@tag.Name</a> </li>
                                        }
                                    </ul>
                                </div>
                                <div class="col-6">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Comment-->
            <div class="col-lg-12">
                <div class="sidebar-item comments">
                    <div class="sidebar-heading">
                        <h2>4 comments</h2>
                    </div>
                    <div class="content">
                        <ul>
                            <li>
                                <div class="author-thumb">
                                    <img src="~/custom/client/img/comment-author-01.jpg" alt="">
                                </div>
                                <div class="right-content">
                                    <h4>Admin<span>3 7, 2023</span></h4>
                                    <p>Good Good, very good.The review is really good, the words are also very smooth and good. Everyone should read it</p>
                                </div>
                            </li>
                            <li class="replied">
                                <div class="author-thumb">
                                    <img src="~/custom/client/img/comment-author-02.jpg" alt="">
                                </div>
                                <div class="right-content">
                                    <h4>hin123<span>3 6, 2023</span></h4>
                                    <p>me too.The review is really good, the words are also very smooth and good. Everyone should read it</p>
                                </div>
                            </li>
                            <li>
                                <div class="author-thumb">
                                    <img src="~/custom/client/img/comment-author-03.jpg" alt="">
                                </div>
                                <div class="right-content">
                                    <h4>HaHan<span>3 7, 2023</span></h4>
                                    <p>it's really interesting.The review is really good, the words are also very smooth and good. Everyone should read it</p>
                                </div>
                            </li>
                            <li class="replied">
                                <div class="author-thumb">
                                    <img src="~/custom/client/img/comment-author-02.jpg" alt="">
                                </div>
                                <div class="right-content">
                                    <h4>hin123<span>3 8, 2023</span></h4>
                                    <p>oh! you are exactly like me.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="sidebar-item submit-comment">
                    <div class="sidebar-heading">
                        <h2>Your comment</h2>
                    </div>
                    <div class="content">
                        <form id="comment" action="#" method="post">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <fieldset>
                                        <input name="name" type="text" id="name" placeholder="Your name" required="">
                                    </fieldset>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <fieldset>
                                        <input name="email" type="text" id="email" placeholder="Your email" required="">
                                    </fieldset>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <fieldset>
                                        <input name="subject" type="text" id="subject" placeholder="Subject">
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <textarea name="message" rows="6" id="message" placeholder="Type your comment" required=""></textarea>
                                    </fieldset>
                                </div>
                                <div class="col-lg-12">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="main-button">Submit</button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--End Comment-->
        </div>
    </div>
</div>

@section Sidebar{
    <div class="col-lg-4">
        <div class="sidebar">
            <div class="row">
                <div class="col-lg-12">
                    <div class="sidebar-item search">
                        <form id="search_form" name="gs" method="GET" action="#">
                            <input type="text" name="q" class="searchText" placeholder="type to search..." autocomplete="on">
                        </form>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="sidebar-item recent-posts">
                        <div class="sidebar-heading">
                            <h2>Top 5 most view post</h2>
                        </div>
                        <div class="content">
                            <partial name="_ListPosts" model=mostViewPost />
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="sidebar-item tags">
                        <div class="sidebar-heading">
                            <h2>Category</h2>
                        </div>
                        <div class="content">
                            <ul>
                                @foreach (var item in lstCategory)
                                {
                                    <li><a href="/Customer/Post/GetPostByCategory?categoryName=@item.Name">@item.Name</a></li>
                                }
                            </ul>

                        </div>
                    </div>
                    <div class="sidebar-item tags">
                        <div class="sidebar-heading">
                            <h2>Tag Clouds</h2>
                        </div>
                        <div class="content">
                            <ul>
                                @foreach (var item in lstTag)
                                {
                                    <li><a href="/Customer/Post/GetPostByTag?tagName=@item.Name">@item.Name</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            }

