﻿@model List<Post>

@inject FA.JustBlog.Core.Infrastructures.IUnitOfWork _unitOfWork
@{
    ViewData["Title"] = "Get post by category";
    var mostViewPost = _unitOfWork.PostRepository.GetMostViewedPost(5);
    var lstTag = _unitOfWork.TagRepository.GetAll();
    var lstCategory = _unitOfWork.CategoryRepository.GetAll();
    var latestPost = _unitOfWork.PostRepository.GetLatestPost(5);
}

@section Banner{
    <div class="heading-page header-text">
        <section class="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-content">
                            <h4>Recent Posts</h4>
                            <h2>Our Recent Blog Entries</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}
<div class="col-lg-8">
    <div class="all-blog-posts">
        <div class="row">
            @foreach (var item in Model)
            {
                IList<Tag> listTag = _unitOfWork.TagRepository.GetTagsByPost(item.Id);

                <div class="col-sm-6">
                    <div class="blog-thumb">
                        <img src="/custom/client/img/@item.Image" alt="">
                    </div>
                    <a href="/Post/@item.PostedOn.Value.Year/@item.PostedOn.Value.Month.ToString("00")/@item.UrlSlug">
                        <h2 class="post-title" >
                            @item.Title
                        </h2>
                    </a>
                    <p class="post-meta" style="color: black">Posted @FA.JustBlog.Common.DayHelper.GetTimeFromCreated(item.PostedOn.Value) with  @item.ViewCount view(s)</p>
                         <p class="post-subtitle" >
                            @item.ShortDescription
                        </p>
                    <p>Category: <a href="/Customer/Post/GetPostByCategory?categoryName=@item.Category.Name">@item.Category.Name</a></p>
                    <p>
                        Tag: @foreach (var tag in listTag)
                        {
                            <a href="#" style="background-color: black; color: white;padding:5px;">@tag.Name</a>
                        }

                    </p>
                </div>
                <br>
            }


            <div class="col-lg-12">
                <ul class="page-numbers">
                    <li><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>



@section Sidebar{
    <div class="col-lg-4">
        <div class="sidebar">
            <div class="row">
                <div class="col-lg-12">
                    <div class="sidebar-item search">
                        <form id="search_form" name="gs" method="GET" action="#">
                            <input type="text" name="q" class="searchText" placeholder="type to search..." autocomplete="on">
                        </form>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="sidebar-item recent-posts">
                        <div class="sidebar-heading">
                            <h2>Top 5 most view post</h2>
                        </div>
                        <div class="content">
                            <partial name="_ListPosts" model=mostViewPost />
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="sidebar-item tags">
                        <div class="sidebar-heading">
                            <h2>Tag Clouds</h2>
                        </div>
                        <div class="content">
                            <ul>
                                @foreach (var item in lstTag)
                                {
                                    <li><a href="/Customer/Post/GetPostByTag?tagName=@item.Name">@item.Name</a></li>
                                }
                            </ul>

                        </div>
                    </div>

                    <div class="sidebar-item tags">
                        <div class="sidebar-heading">
                            <h2>Category</h2>
                        </div>
                        <div class="content">
                            <ul>
                                @foreach (var item in lstCategory)
                                {
                                    <li><a href="/Customer/Post/GetPostByCategory?categoryName=@item.Name">@item.Name</a></li>
                                }
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}