﻿@model List<Post>

@{
    ViewData["Title"] = "All Post";
    var mostViewPost = _unitOfWork.PostRepository.GetMostViewedPost(5);
    var lstTag = _unitOfWork.TagRepository.GetAll();
    var lstCategory = _unitOfWork.CategoryRepository.GetAll();
}

@section Banner{
    <div class="heading-page header-text">
        <section class="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-content">
                            <h4>Recent Posts</h4>
                            <h2>Our Recent Blog Entries</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
}
<div class="col-lg-8">
    <div class="all-blog-posts">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-6">
                    <div class="blog-post">
                        <div class="blog-thumb">
                            <img src="/custom/client/img/@item.Image" alt="">
                        </div>
                        <div class="down-content">
                            <span>@_unitOfWork.TagRepository.GetTagsByPost(item.Id).FirstOrDefault()?.Name</span>
                            <a href="/Post/@item.PostedOn.Value.Year/@item.PostedOn.Value.Month.ToString("00")/@item.UrlSlug"><h4>@item.Title</h4></a>
                            <ul class="post-info">
                                <li><a href="#">Admin</a></li>
                                <li><a href="#">@item.PostedOn.Value.ToString("MMM") @item.PostedOn.Value.Day, @item.PostedOn.Value.Year</a></li>
                                @if (item.Comments != null)
                                {
                                    <li><a href="#">@item.Comments.Count Comments</a></li>
                                }
                                else
                                {
                                    <li><a href="#">0 Comments</a></li>
                                }
                            </ul>
                            <p>@item.ShortDescription</p>
                            <div class="post-options">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <ul class="post-tags">
                                            <li><i class="fa fa-tags"></i></li>
                                            @foreach (var tag in @_unitOfWork.TagRepository.GetTagsByPost(item.Id))
                                            {
                                                <li><a href="#">@tag.Name</a> </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="col-lg-12">
                <ul class="page-numbers">
                    <li><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

@section Sidebar{
    <div class="col-lg-4">
        <div class="sidebar">
            <div class="row">
                <div class="col-lg-12">
                    <div class="sidebar-item search">
                        <form id="search_form" name="gs" method="GET" action="#">
                            <input type="text" name="q" class="searchText" placeholder="type to search..." autocomplete="on">
                        </form>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="sidebar-item recent-posts">
                        <div class="sidebar-heading">
                            <h2>Top 5 most view post</h2>
                        </div>
                        <div class="content">
                            <partial name="_ListPosts" model=mostViewPost />
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="sidebar-item tags">
                        <div class="sidebar-heading">
                            <h2>Tag Clouds</h2>
                        </div>
                        <div class="content">
                            <ul>
                                @foreach (var item in lstTag)
                                {
                                    <li><a href="/Customer/Post/GetPostByTag?tagName=@item.Name">@item.Name</a></li>
                                }
                            </ul>

                        </div>
                    </div>

                    <div class="sidebar-item tags">
                        <div class="sidebar-heading">
                            <h2>Category</h2>
                        </div>
                        <div class="content">
                            <ul>
                                @foreach (var item in lstCategory)
                                {
                                    <li><a href="/Customer/Post/GetPostByCategory?categoryName=@item.Name">@item.Name</a></li>
                                }
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}